files:
   /etc/httpd/conf.d/http-redirect.conf:
     mode: 000644
     owner: root
     group: root
     content: |
       <Directory /var/www/html>
         RewriteEngine On
         RewriteBase /
         RewriteCond %{REQUEST_FILENAME} !-f
         RewriteCond %{REQUEST_FILENAME} !-d
         RewriteRule ^(.*)$ index.php [QSA,L]
         php_value short_open_tag 0
       </Directory>
