commands:
  010_qlsrv_pdo:
    command: |

      # 0. EXIT if pdo_sqlsrv is already installed
      if php -m | grep -q 'pdo_sqlsrv'; then exit; fi;

      # 1. Register the Microsoft Linux repository
      curl https://packages.microsoft.com/config/rhel/7/prod.repo | sudo tee /etc/yum.repos.d/mssql-tools.repo;
      
      # 2. Install the newer unixODBC for MSSQL
      sudo yum install http://mirror.centos.org/centos/7/os/x86_64/Packages/unixODBC-2.3.1-11.el7.x86_64.rpm;
      sudo yum install http://mirror.centos.org/centos/7/os/x86_64/Packages/unixODBC-devel-2.3.1-11.el7.x86_64.rpm;
      
      # 3. Install MSSQL and tools
      sudo ACCEPT_EULA=Y yum install msodbcsql17 mssql-tools;
      
      # 4. Update the PEAR Archive_Tar package and update PEAR itself
      sudo curl https://raw.githubusercontent.com/pear/Archive_Tar/1.4.3/Archive/Tar.php > `pear config-get php_dir`/Archive/Tar.php;
      sudo pear upgrade -f Archive_Tar; # Don't forget to actually update it
      
      # 5. Install SQLSRV and its PDO extension and configure it correctly
      sudo pear config-set php_ini ''; # Disable PECL's php.ini update
      sudo pecl7 install sqlsrv pdo_sqlsrv;
      sudo chmod 0755 `pear config-get ext_dir`/sqlsrv.so; # Fix perms
      sudo chmod 0755 `pear config-get ext_dir`/pdo_sqlsrv.so; # Fix perms
      echo "extension=sqlsrv.so" | sudo tee /etc/php.d/sqlsrv.ini;
      echo "extension=pdo_sqlsrv.so" | sudo tee /etc/php.d/pdo_sqlsrv.ini;
      sudo pear config-set php_ini /etc/php.ini; # Reenable PECL's php.ini update
      
      # 6. Restart Apache to enable
      sudo service httpd restart;
