commands:
  020_docker_install:
    command: |

      # 0. EXIT if docker is already installed
      if curl -I --unix-socket /var/run/docker.sock http:/ping; then exit; fi;

      sudo yum update -y 
      sudo yum install -y docker
      sudo service docker start

      # Create the "temp" directory for the script runner.
      sudo mkdir /src
      sudo chmown -R webapp /src
      sudo chmod 0777 /src

  030_user_mod:
    command: "sudo usermod -aG docker ec2-user"
    ignoreErrors: true
