* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor: default;
}
input, textarea, .contenteditable {
    -webkit-touch-callout:default;
    -webkit-user-select:text;
    -moz-user-select:text;
    -ms-user-select:text;
    user-select:text;
    cursor: text;
}

html, body {
    background-color: #FEFEFE;
    margin: 0;
}
h1, h2, p, ul, li {
    font-family: Helvetica, Arial, sans-serif;
}
ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.header {
    background-color: #111;
    padding: 0;
}
ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}
.content {
    width: 80%;
    margin: 20px auto 0;
}

.active {
    background-color: #0099FF;
}

.login {
    width: 300px;
    margin: 0 auto;
}

.login .submit {
    width: 100%;
}

.login .error {
    width: 100%;
    color: red;
    height: 14px;
    font-size: 14px;
}
