# gitignore: /server

# PHP + Composer
vendor

# AWS EB + EC2 Config
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Server Credentials
server_info.php

# IntelliJ IDEA
*.iml
